<html>
<head>
<link rel="stylesheet/less" type="text/css" href="css/stylesheet.less">
<link rel="stylesheet/less" type="text/css" href="css/iphone.less" media="only screen and (max-device-width: 640px)" />
<script type="text/javascript" src="js/less-1.3.0.min.js"></script>
<script type="text/javascript" src="js/angular-1.0.1.min.js"></script>
<script type="text/javascript">

</script>
</head>

<body>
<header id="top">
  <nav id="main">
    <button id="back-icon">Back</button>
    Ticketless
    <button id="map-icon">Map</button>
  </nav>

  <nav id="breadcrumb">
    <a rel="up up up">Sports</a>
    <a rel="up up">Football</a>
    <a rel="up">Patriots</a>
    <a>Vs. Ravens</a>
  </nav>
</header>

<section id="event">
  <header id="information">
    <h1>Patriots Vs. Ravens</h1>
    <time datetime="2012-09-23T18:00:00Z">Sept. 23, 8:30 PM</time>
    <h2>Gillette Stadium</h1>
  </header>

  <ol id="tickets">
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>Start</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>4</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
    <li>
      <h2>Upper Deck <b>302</b>, Row <b>End</b></h2>
      <h3>2 - 24 Tickets</h3>
      <span>$32 ea.</span>
    </li>
  </ol>
</section>

<footer>
</footer>
</html>